<h1>Welcome! Please login</h1>

<form action='<%= sessions_url %> ' method="post">
  <input
     type="hidden"
     name="authenticity_token"
     value="<%= form_authenticity_token %>">

  <label for="username">Email
    <input type="text" name="user[email]" value="" id="username">
  </label>
  <label for="password">Password
    <input type="password" name="user[password]" value="" id="password">
  </label>

  <input type="submit" value="Login">
</form>
