.main-nav {
  display: flex;
  justify-content: space-between;
}

.left-nav > ul,
.right-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.left-nav > ul > li {

}

.right-nav > ul > li {
}

.right-nav > ul > li:last-of-type {
}

.left-nav > ul > li:hover,
.right-nav > ul > li:last-of-type:hover {

}

.left-nav span {

}

i.fa-cog {
  font-size: 25px;
}

.right-nav i {

}
